{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="/static/images/generals-quarters.png"
        alt=""
        class="img-fluid img-thumbnail mx-auto d-block room-image"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">General Quarters</h1>
      <p>
        Your home away form home, set on the majectisc Your home away form home,
        set on the majectisc Your home away form home, set on the majectisc Your
        home away form home, set on the majectisc Your home away form home, set
        on the majectisc Your home away form home, set on the majectisc
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a id="check-availability-button" href="#!" class="btn btn-success"
        >Check Availability</a
      >
    </div>
  </div>
</div>
{{ end }}

{{define "js"}}
<script>
  let sth = document.getElementById("check-availability-button");
  sth.addEventListener("click", () => {
    // notify("Hi", "warning");
    // notifyModal("title", "<em>Hello guys</em>", "success", "Ok");
    // attention.toast({ msg: "Hello Word", icon: "error" });

    let html = `
               <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
        <div class="d-flex flex-row justify-content-evenly" id="reservation-dates-modal">
          <div class="p-2">
            <input disable  required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
          </div>

          <div class="p-2">
            <input disable  required class="form-control" type="text" name="end" id="end" placeholder="Departure">
          </div>
        </div>
      </form>
              `;
    attention.custom({
      msg: html,
      title: "Choose your dates",
      willOpen: () => {
        const elem = document.getElementById("reservation-dates-modal");
        const rp = new DateRangePicker(elem, {
          format: "yyyy-mm-dd",
          // showOnFocus: false,
          // orientation: "top",
        });
      },

      didOpen: () => {
        document.getElementsByClassName("swal2-actions")[0].style.zIndex = "0";
        document.getElementById("start").removeAttribute("disable");
        document.getElementById("end").removeAttribute("disable");
      },

      callback: function (result) {
        console.log("called");

        let form = document.getElementById("check-availability-form");
        let formData = new FormData(form);
        formData.append("csrf_token", "{{.CSRFToken}}");

        fetch("/search-availability-json", {
          method: "post",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            console.log(data.ok);
            console.log(data.message);
          });
      },
    });
  });
</script>
{{ end }}
